<!doctype html>
<html>
<head>
  <title>Madlibs!</title>
</head>
<body>
    <h1>Let's play Madlibs!</h1>
    <form action="/madlib">
      Please enter a name of a person:
      <input type="text" name="name">

      <div>Please enter a color:
      <input type="text" name="color"></div>

      <div>Please enter a noun:
      <input type="text" name="noun"></div>

      <div>Please enter an adjective:
      <input type="text" name="adjective"></div>
      
      <div><input type="submit"></div>

    </form>
    
</body>
</html>